<div class="stage">
  <%= form_tag("/request_uber", method: "get") do %>
    <%= text_field_tag(:pickup_location, nil, placeholder: "Where are you?") %>
    <br />
    <%= text_field_tag(:dropoff_location, nil, placeholder: "Where are you going?") %>
    <br />
    <%= submit_tag("Find Ubers", class: "button") %>
  <% end %>
</div>
